<launch>
    <!-- If a node config file argument is provided by the caller we will load it instead of the example config -->
    <arg name="node_config_file" default="$(find s3_file_uploader)/config/node_sample_configuration.yaml" />
    <arg name="s3_bucket" default=""/>
    <arg name="output" default="screen"/>
  
    <node name="s3_file_uploader" pkg="s3_file_uploader" type="s3_file_uploader" output="$(arg output)">
        <!-- If the caller specified a config file then load it here. -->
        <rosparam if="$(eval node_config_file!='')" command="load" file="$(arg node_config_file)" />
        <param if="$(eval s3_bucket != '')" name="s3_bucket" value="$(arg s3_bucket)"/>
    </node>
</launch>
