<launch>
    <!-- Directory where rosbags will be written.
         Defaults to ~/.ros/dr_rosbag_uploader/ -->
    <arg name="write_directory" default="~/.ros/dr_rosbag_uploader/" />
    
    <!-- Time in seconds to wait for uploader node. Timeouts <= 0 are treated as infinite -->
    <arg name="upload_timeout" default="3600" />
    
    <!-- The boolean value for having the action server to delete bag files after
         they have been successfully uploaded to S3.
         The default value is false, i.e. bags will not be deleted after they have
         been uploaded. -->
    <arg name="delete_bags_after_upload" default='false' />
    
    <node name="duration_recorder" pkg="rosbag_cloud_recorders" type="duration_recorder" output="screen">
      <param name="write_directory" value="$(arg write_directory)"/>
      <param name="upload_timeout" value="$(arg upload_timeout)"/>
      <param name="delete_bags_after_upload" value="$(arg delete_bags_after_upload)"/>
    </node>

</launch>
