<launch>
    <!-- If a node config file argument is provided by the caller we will load it instead of the example config -->
    <arg name="node_config_file" default="$(find rosbag_cloud_recorders)/config/rolling_recorder_sample_configuration.yaml" />

    <!-- The length of each bag file in seconds.
         Acceptable values: positive integers
         If not given defaults to 30 seconds
         If an invalid value is given the node will exit and log an error message -->
    <arg name="bag_rollover_time" default="30" />

    <!-- The length of time recordings are kept. Any rosbag older than this time will be deleted.
         Acceptable values: positive integers
         If not given defaults to 300 seconds
         If an invalid value is given the node will exit and log an error message -->
    <arg name="max_record_time" default="300" />

    <!-- Directory where rosbags will be written.
         Defaults to ~/.ros/rr_rosbag_uploader/ -->
    <arg name="write_directory" default="~/.ros/rr_rosbag_uploader/" />

    <!-- Time in seconds for server connection time out and s3 upload action time out -->
    <arg name="upload_timeout" default="3600" />

    <node name="rolling_recorder" pkg="rosbag_cloud_recorders" type="rolling_recorder" output="screen">
      <rosparam command="load" file="$(arg node_config_file)" />
      <param name="bag_rollover_time" value="$(arg bag_rollover_time)" />
      <param name="max_record_time" value="$(arg max_record_time)" />
      <param name="write_directory" value="$(arg write_directory)" />
      <param name="upload_timeout" value="$(arg upload_timeout)"/>
    </node>
</launch>
