<launch>
    <!-- The length of each bag file in seconds.
         Acceptable values: positive integers
         If not given defaults to 30 seconds
         If an invalid value is given the node will exit and log an error message -->
    <arg name="bag_rollover_time" default="30" />

    <!-- The length of time recordings are kept. Any rosbag older than this time will be deleted.
         Acceptable values: positive integers
         If not given defaults to 300 seconds
         If an invalid value is given the node will exit and log an error message -->
    <arg name="max_record_time" default="300" />

    <!-- Directory where rosbags will be written.
         Defaults to ~/.ros/rr_rosbag_uploader/ -->
    <arg name="write_directory" default="~/.ros/rr_rosbag_uploader/" />

    <!-- Time in seconds for server connection time out and
         s3 upload action time out -->
    <arg name="upload_timeout" default="3600" />

    <arg name="s3_bucket"/>

    <include file="$(find rosbag_cloud_recorders)/launch/rolling_recorder.launch">
      <arg name="bag_rollover_time" value="$(arg bag_rollover_time)"/>
      <arg name="max_record_time" value="$(arg max_record_time)"/>
      <arg name="write_directory" value="$(arg write_directory)"/>
      <arg name="upload_timeout" value="$(arg upload_timeout)"/>
    </include>

    <include file="$(find s3_file_uploader)/launch/s3_file_uploader.launch">
      <arg name="s3_bucket" value="$(arg s3_bucket)"/>
    </include>
</launch>
